# Установить конец строки LF для всех текстовых файлов
* text=auto

# Принудительно использовать LF для определённых файлов
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf

# Принудительно использовать CRLF, если необходимо
*.bat text eol=crlf
