Flask==2.2.5
Werkzeug==2.3.7
mysql-connector-python==8.0.33
dash==2.18.2
gunicorn==21.2.0   # WSGI-сервер для запуска приложения
pandas==1.5.3      # Для работы с таблицами, если используется
openpyxl==3.1.2    # Для работы с Excel-файлами
plotly==5.17.0     # Для графиков в Dash (если требуется)
